.space
{
    left:30px;
    right:30px;
}
.row
{
    padding: 5px 5px 5px 5px;
}
.spaces
{
    text-align: left;
}
.tr
{
    text-align: right;
    float: right;
    position: relative;
}
.sqsm
{
    position: relative;
    height:100%;
    width:50%;
    text-align: left;
}
.first
{
    position: relative;
    text-align: left;
}
a {
    color: green;
    background-color: transparent;
    text-decoration: none;
  }

  .circle {
    height: 100px;
    width: 100px;
    display: table-cell;
    text-align: center;
    vertical-align: middle;
    border-radius: 50%; /* may require vendor prefixes */
    background: rgb(0, 255, 225);
  }